.block-center{
    margin: 0 auto;
}

.container{
    width: 980px;    
}

#titulos h1{font-size: 1.5em}
#titulos h2{font-size: 1.3em}
#titulos h3{font-size: 1.0em}
#titulos h4{font-size: 0.9em}

/* Bloque de encabezado inicio */

#encabezado{
    height: 140px;
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
}

#encabezado figure{
    margin: 0;
    
}

#encabezado #titulos *{
    margin: 0;
    padding: 0;
    border: 10px;
}

/* Bloque de encabezado fin */

/*Bloque de navegacion*/

#barra-navegacion{
    justify-content: center;
    height: 50px;
    width: 980px;
    background-color: #d8d8d8;
    display: flex;
    margin: auto;
    
}

#barra-navegacion li{
    display: inline-block;
    padding: 0;
}

#barra-navegacion > ul{
   display: flex;
}

#barra-navegacion > ul > li >a:hover{
 background-color: #83808d;
}


#barra-navegacion > li{
   display: block;
}

#barra-navegacion a{
   color:black;
    text-decoration: none;
    background-color:darkgray;
    transition: 0.7s;
    padding: 8px 18px;
}

#barra-navegacion ul ul{
    background-color: aquamarine;
    display:none;
}

/*Bloque de navegacion fin*/

nav li{
    display:inline-flex;
    
}
nav a{
    background-color: none;
    padding: 10px;
    margin: 4px 9px;
    text-decoration: none;
    
}
nav li a:hover{
    background-color: aliceblue;
    
}
#nota-principal{
     margin: auto;
    padding: 0;
    height: 320px;
    width: 960px;
    background-color: lightgreen;
    border: 10px solid;
    border-color:white;
    box-shadow: 0 0 10px grey;
}
/*Nota secundaria*/
#nota-secundaria article{
     display: flex;
     background-image: url('../Imagenes/sombra.png');
     background-repeat: no-repeat;
     background-position: bottom;
     padding-bottom: 40px;
     margin-bottom: 20px;
}
#nota-secundarias figure{
    position: relative;
}
#nota-secundaria figure span{
    position: absolute;
    top: 10px;
    left: -10px;
    padding: 5px 20px;
    background-color: lightgrey;
    box-shadow: 1px 1px 3px darkgrey;
}
#nota-secundaria article div{
    padding-left: 10px;
}
#nota-secundaria article div p {
    text-align: justify;
    line-height: 0.8em;
}
#nota-secundaria article h2{
    font-variant: small-caps;
    line-height: 0.7em;
}
#nota-secundaria a{
    color: #b92025;
    text-decoration: none;
}
#nota-secundaria a:hover{
    color: blue;
    text-decoration: underline;
}
#nota-secundaria {
    width: 730px;
    min-height: 260px;
    padding:15px;
    float: left;
}
/*Nota secundaria fin*/
#publicidad{
   margin-top: 15px;
    float: right;
    width: 210px;
    padding: 5px;
    height: 500px;
    background-color: lightsalmon;
}

#pie{
    clear: both;
    height: 150px;
    background-color: lightsteelblue;
}

.sombra-imagen{
    box-shadow: 0 0 5px darkgray;
}

.ver-mas p{
    color: white;
    font-weight: bold;
}
.div-class{
    background: #b92025;
    display: inline-block;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding: 3px;
    box-shadow: 0px 1px 3px darkgray;
}

.div-class > div{
    padding: 1px 3px;
    border: 1px solid rgba(255,255,255,.7)
    }

.div-class p{
    color: white;
    padding: 0 !important;
    font-variant: small-caps;
    font-size: 1.1em;
    
}

figure{
    margin: 0;
    position: relative;
}

.nota-secundaria{
   display: flex; 
   justify-content:space-around;
}
