.block-center{
    margin: 0 auto;
}

.container{
    width: 920px;    
}

#titulos h1{font-size: 1.5em}
#titulos h2{font-size: 1.3em}
#titulos h3{font-size: 1.0em}
#titulos h4{font-size: 0.9em}

/* Bloque de encabezado inicio */

#encabezado{
    height: 140px;
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
}

#encabezado figure{
    margin: 0;
    
}

#encabezado #titulos *{
    margin: 0;
    padding: 0;
}

/* Bloque de encabezado fin */

/*Bloque de navegacion*/

#barra-navegacion{
    height: 50px;
    background-color: #d8d8d8;
    
}

#barra-navegacion > ul{
   display: flex;
}

#barra-navegacion > ul > li{
   display: flex;
}


#barra-navegacion > li{
   display: block;
}

#barra-navegacion a{
   color:black;
    text-decoration: none;
    padding: 8px 18px;
}

#barra-navegacion ul ul{
   display: none;
}

/*Bloque de navegacion fin*/

nav li{
    display:inline-flex;
    
}
nav a{
    background-color: none;
    padding: 10px;
    margin: 4px 9px;
    text-decoration: none;
    
}
nav li a:hover{
    background-color: aliceblue;
    
}
#nota-principal{
    height: 500px;
    background-color: lightgreen;
}

#nota-secundarias{
    width: 660px;
    padding:20px;
    float: left;
    background-color: azure;
}

#publicidad{
    width: 210px;
    padding: 5px;
    float:right;
    background-color: lightsalmon;
}

#pie{
    clear: both;
    height: 150px;
    background-color: lightsteelblue;
}